# Исключаем папку node_modules
node_modules/

# Исключаем временные файлы
*.log
*.tmp

# Исключаем export-resources.js (если он не нужен в репозитории)
export-resources.js

# Исключаем локальные конфигурационные файлы
.env
.env.local

# Исключаем системные файлы
.DS_Store
Thumbs.db

# Исключаем файлы, созданные редакторами
.vscode/
.idea/
